@model IEnumerable<PioneerStore.Models.CategoriesQuantity>

@{
    ViewBag.Title = "CatQuantity";
}
<div class="card">
    <div class="card-header">
        <h1 style="text-align:center; color:indianred">Categories Quantities</h1>
        <a href="CategoriesQuantities/Create">
            <i class="fa fa-plus">Add New</i>
        </a>
    </div>
    <div class="card-body">

        <div class="table table-hover table-bordered table-responsive">
            <table class="table">
                <thead style="background-color: #dde4eb;">
                    <tr>

                        <td style=" border-color: rgb(40 167 69 / 25%);">
                            @Html.DisplayNameFor(model => model.Category.Name)
                        </td>
                        <td style=" border-color: rgb(40 167 69 / 25%);">
                            @Html.DisplayNameFor(model => model.Store.Store_Name)
                        </td>
                        <td style=" border-color: rgb(40 167 69 / 25%);">
                            @Html.DisplayNameFor(model => model.Quantity)
                        </td>
                        <td style=" border-color: rgb(40 167 69 / 25%);">Actions</td>
                    </tr>
                </thead>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Category.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Store.Store_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                                <i class="fa fa-pencil-square-o"></i>
                            </td>
                        </tr>
                    }

            </table>
        </div>
    </div>
</div>